/* Efek teks menyala Biru Neon */
.neon-text {
    color: #ffffff;
    text-shadow: 0 0 5px #00f0ff, 0 0 15px #00f0ff, 0 0 30px #00a8ff;
}

/* Border menyala Biru Neon */
.neon-border {
    border-color: #00f0ff;
    box-shadow: 0 0 10px rgba(0, 240, 255, 0.5);
}

/* Background tombol utama Biru Neon */
.neon-bg {
    background-color: #00f0ff;
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.7);
    transition: all 0.3s ease;
}

.neon-bg:hover {
    background-color: #00a8ff;
    box-shadow: 0 0 25px rgba(0, 168, 255, 0.9);
}

/* Sembunyikan scrollbar bawaan browser pada menu horizontal slider */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
